<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubic</title>
    <link rel="icon" type="image/x-icon" href="/images/cubic-w-nobg.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-chat.css">
</head>
<body>

    <div class="container-fluid">
        <div class="sidebar d-none d-md-block">
            <img src='/images/cubic-w-nobg.png' style="height: 20px; width: 20px; margin-left: 10px;" class="avatar-icon" alt="Avatar"> 
            <a style="text-decoration: none; color: #fff; font-size: 12px;">Cubic</a>
            <div class="friend-list-container">
                <div class="custom-scrollbar">
                    <div class="custom-scrollbar-thumb"></div>
                </div>
                <ul class="list-group" style="padding-top: 20px;" id="friendsList"></ul>
            </div>

            
    
            <div class="dropup-container">
                <div class="audio-control-menu">
                    <div class="audio-control-buttons">
                        <button class="btn btn-call btn-sm" id="headphoneButton" title="Headphone Call" style="display: none;">
                            <i class="fa-solid fa-headphones"></i>
                        </button>
                        <button class="btn btn-mute btn-sm" id="muteButton" title="Mute voice" style="display: none;">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                        <button class="btn btn-call btn-sm" id="endCallButton" title="Disconnect Call" style="display: none;">
                            <i class="fa-solid fa-phone-slash"></i>
                        </button>
                    </div>
                </div>

                <div class="btn-group dropup">
                    <button type="button" class="btn btn-sm d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class='c-avatar'>
                            <img id="avatarImg" src="<%= currentUser.avatarUrl || '/images/cubic-w.jpeg' %>" class="c-avatar_image" alt="Avatar">
                            <span class='c-avatar_status'></span>
                        </div>
                        <div class="user-info ms-2">
                            <div id="user-nickname" class="nickname"><%= currentUser.nickname %></div>
                            <div id="user-username" class="username"><%= currentUser.username %></div>
                        </div>
                        <i id="friendRequestsNotification" class="fa-regular fa-bell" style="display: none; margin-left: 5px;"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal"><i class="fa-solid fa-gear" style="margin-right: 10px;"></i>Configurações</a></li>
                        <li><a class="dropdown-item" href="#" id="friendsDropdown" data-bs-toggle="modal" data-bs-target="#friendsModal"><i class="fa-solid fa-user-group" style="margin-right: 10px;"></i>Amizades</a></li>
                        <li><hr class="dropdown-divider" style="color: #fff; background-color: #fff;"></li>
                        <li><a class="dropdown-item" href="/auth/logout"><i class="fa-solid fa-right-from-bracket" style="margin-right: 10px;"></i>Desconectar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    
        <div class="chat-area">
            <div class="chat-nav d-flex justify-content-between align-items-center">
                <a class="chatTitle align-items-center" id="chatTitle" style="display: none;">
                    <img class="friend-avatar me-2" src="/images/cubic-w.jpeg" id="chatAvatar" alt="Avatar"> 
                    <span id="chatUsername">username</span>
                </a>
                <div class="call-buttons" id="callButtons" style="display: none;">
                    <!--<button class="btn btn-call btn-sm me-2" id="videoCallButton" title="Video Call">
                        <i class="fa-solid fa-camera"></i>
                    </button>-->
                    <button class="btn btn-call btn-sm" id="audioCallButton" title="Audio Call">
                        <i class="fa-solid fa-phone"></i>
                    </button>
                </div>
            </div>
            <div id="chatContent"></div>
            <div class="message-input p-3">
                <input type="text" class="send-message form-control" id="messageInput" placeholder="Mensagem..." autocomplete="off">
            </div>
        </div>
    </div>
    
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
        <div id="characterLimitToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    A mensagem deve ter no máximo 2000 caracteres.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
        <div id="errorToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    
    <div id="confirmationToast" class="confirmationToast toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-body">
            <p>Você realmente deseja remover este amigo?</p>
            <button id="confirmRemove" class="btn btn-dangerr btn-sm">Remover</button>
            <button class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Cancelar</button>
        </div>
    </div>

    <div id="incommingCallToast" class="incommingCallToast toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-delay="90000">
        <div class="toast-body">
            <p>Você está recebendo uma chamada de <a id="callerUsername" style="outline: none; color: #fff;"></a>, deseja atender?</p>
            <button class="btn btn-success btn-sm" id="acceptCallButton">Atender</button>
            <button class="btn btn-secondary btn-sm" data-bs-dismiss="toast" id="rejectCallButton">Ignorar</button>
        </div>
    </div>

    <div id="callingToast" class="callingToast toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-delay="90000">
        <div class="toast-body">
            <p>Você está tentando ligar para <a id="calleeUsername" style="outline: none; color: #fff;"></a>.</p>
            <button class="btn btn-secondary btn-sm" data-bs-dismiss="toast" id="rejectCallButton">Desligar</button>
        </div>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">Configurações</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <ul class="nav nav-tabs nav-options" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Minha conta</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="audio-tab" data-bs-toggle="tab" data-bs-target="#audio" type="button" role="tab" aria-controls="audio" aria-selected="true">Voz e vídeo</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="appearance-tab" data-bs-toggle="tab" data-bs-target="#appearance" type="button" role="tab" aria-controls="appearance" aria-selected="false">Aparência</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Assinaturas</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                                <div class="account-avatar">
                                    <div class="avatar-container" onclick="document.getElementById('avatarInput').click();">
                                        <img id="avatarImg" src="<%= currentUser.avatarUrl || '/images/cubic-w.jpeg' %>" alt="Avatar" width="80" height="80">
                                        <div class="overlay"><i class="fa-solid fa-pencil"></i></div>
                                    </div>
                                    <h3 id="avatar-user-nickname"><%= currentUser.nickname %></h3>
                                    <input class="user-input" type="file" id="avatarInput" style="display: none;" accept="image/png, image/jpeg, image/jpg" onchange="handleFileSelect(event)">
                                </div>
                                
                                
                                <div class="account-section">
                                    <label>NOME DE EXIBIÇÃO</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="editable" data-field="nickname" id="user-nickname"><%= currentUser.nickname %></span>
                                        <input class="user-input editable-input" data-field="nickname" value="<%= currentUser.nickname %>" style="display: none;">
                                        <button class="btn btn-edit" onclick="toggleEdit('nickname')">Editar</button>
                                        <button class="btn btn-save" data-field="nickname" style="display: none;" onclick="saveEdit('nickname')">Salvar</button>
                                    </div>
                                </div>
                                
                                <div class="account-section">
                                    <label>NOME DE USUÁRIO</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="editable" data-field="username" id="user-username"><%= currentUser.username %></span>
                                        <input class="user-input editable-input" data-field="username" value="<%= currentUser.username %>" style="display: none;">
                                        <button class="btn btn-edit" onclick="toggleEdit('username')">Editar</button>
                                        <button class="btn btn-save" data-field="username" style="display: none;" onclick="saveEdit('username')">Salvar</button>
                                    </div>
                                </div>
                                
                                <div class="account-section">
                                    <label>E-MAIL</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="editable" data-field="email" id="user-email"><%= currentUser.email %></span>
                                        <input class="user-input editable-input" data-field="email" value="<%= currentUser.email %>" style="display: none;">
                                        <button class="btn btn-edit" onclick="toggleEdit('email')">Editar</button>
                                        <button class="btn btn-save" data-field="email" style="display: none;" onclick="saveEdit('email')">Salvar</button>
                                    </div>
                                </div>
                                
                                <div class="account-section">
                                    <label>SENHA</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="editable" data-field="password" id="user-password">********</span>
                                        <input class="user-input editable-input" data-field="password" value="" style="display: none;">
                                        <button class="btn btn-edit" onclick="toggleEdit('password')">Editar</button>
                                        <button class="btn btn-save" data-field="password" style="display: none;" onclick="saveEdit('password')">Salvar</button>
                                    </div>
                                </div>  
                                <hr> 
                                <div class="account-section">
                                    <label>DELETAR CONTA</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Delete sua conta com apenas um clique.</span>
                                        <button class="btn btn-delete" onclick="saveEdit('delete')">Deletar conta</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="audio-tab">
                                <h2>Em desenvolvimento...</h2>
                                <!-- Conteúdo dos Projetos -->
                            </div>
                            <div class="tab-pane fade" id="appearance" role="tabpanel" aria-labelledby="appearance-tab">
                                <h2>Em desenvolvimento...</h2>
                                <!-- Conteúdo dos Projetos -->
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <h2>Em desenvolvimento...</h2>
                                <!-- Conteúdo das Assinaturas -->
                            </div>
                        </div>
                    </div>
                    
                    <!-- Toast para Confirmar Senha Atual -->
                    <div class="toast-container position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1050;">
                        <div id="confirmPasswordToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header bg-dark text-light">
                                <span class="me-auto">Confirmar Senha Atual</span>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body bg-dark text-light">
                                <form id="confirmPasswordForm">
                                    <div class="mb-3">
                                        <label for="currentPassword" class="form-label">Senha atual:</label>
                                        <input class="user-input" type="password" class="confirm-password form-control bg-secondary text-light" id="currentPassword" required>
                                    </div>
                                    <button type="button" class="btn btn-edit" onclick="verifyCurrentPassword(false)">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Toast para Confirmar Senha Atual -->
                    <div class="toast-container position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1050;">
                        <div id="confirmDeleteAccountToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header bg-dark text-light">
                                <span class="me-auto">Confirmar Senha Atual</span>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body bg-dark text-light">
                                <form id="confirmDeleteAccountForm">
                                    <div class="mb-3">
                                        <label for="currentPassword" class="form-label">Senha atual:</label>
                                        <input class="user-input" type="password" class="confirm-password form-control bg-secondary text-light" id="currentDeletePassword" required>
                                    </div>
                                    <button type="button" class="btn btn-delete" onclick="verifyCurrentPassword(true)">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="friendsModalLabel">Amizades</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <ul class="nav nav-tabs nav-options" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends" type="button" role="tab" aria-controls="friends" aria-selected="true">Amigos</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="true">Solicitações</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">Pendentes</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
                                <h3>Amigos</h3>
                                <div id="friend-list"></div>
                            </div>
                            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                                <div class="input-group">
                                    <input type="text" id="friend-username" class="form-control" placeholder="Nome de usuário">
                                    <button class="btn btn-outline-secondary" type="button" onclick="addFriend()">Adicionar Amigo</button>
                                </div>
                                <div id="error-message" class="error-message"></div>
                                <h3>Solicitações enviadas</h3>
                                <div id="request-list"></div>
                            </div>
                            <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                                <h3>Solicitações recebidas</h3>
                                <div id="received-request-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const currentUserId = '<%= currentUser._id %>';
    const currentUsername = '<%= currentUser.username %>';
    const currentNickname = '<%= currentUser.nickname %>';
    const avatar = document.getElementById('avatarImg');
    const avatarUrl = avatar.src;
</script>
<script src="/scripts/script.js"></script>
</body>
</html>